<section id="a-propos" class="content-section">
  <div class="section-heading">
    <h1>A Propos de <br><em>ALSO</em></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
        <img src="../assets/images/Also.png" alt="Also" width="250" height="250">
        <h1>Qui est suis-je ?</h1>
        <p>Je m'appelle Aliou SOW. Je suis développeur web et mobile. Actuellement, je suis stagiaire chez Access Code
          School à Dakar. J'ai eu un BTS en Informatique Industrielle et Réseaux en 2016 au centre de formation
          professionnelle et technique Sénégal/Japon. Aprés cette formation, j'ai continué à me former tout seul à la
          programmation informatique. Depuis juillet 2018, je suis chez Access Code School où je suis une formation
          trés spécial. Au cours de cette formation, j'ai appris à travailler en équipe.</p>
      </div>
      <div class="text-content">
        <p></p>
        <br>
      </div>
      <div class="container">
        <div class="col-md-12 col-sm-8 col-xs-12">

          <div class="well-none">
            <div id="myCarousel" class="carousel slide">

              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/html.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/css.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/js.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/php.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/java.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/angular.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/ionic.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/node.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/symfony.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/laravel.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/wordpress.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <img src="../assets/images/bootstrap.png" alt="Image" class="thumbnail img-responsive">
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
              </div>
              <!--/carousel-inner-->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-4"></i></a>

              <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-4"></i></a>
            </div>
            <!--/myCarousel-->
          </div>
          <!--/well-->
        </div>
      </div>
      <!--
              <div class="accent-button button">
                  <a href="#blog">Lire ...</a>
              </div>
              -->
    </div>
    <!--
          <div class="col-md-12">
              <div class="box-video">
                  <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
                      <div class="bt-play">Play</div>
                  </div>
                  <div class="video-container">
                      <iframe width="100%" height="520" src="https://www.youtube.com/embed/j-_7Ub-Zkow?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                  </div>
              </div>
          </div>
          -->
  </div>
</section>