<section id="gallery" class="content-section">
  <div class="section-heading">
    <h1>Gallerie<br><em>Code</em></h1>
    <p>Coder c'est pas seulement un métier,
      <br>mais c'est une passion.</p>
  </div>
  <div class="section-content">
    <div class="masonry">
      <div class="row gallery-row">
        <div class="item">
          <div class="col-md-8 image">
            <a href="assets/images/img/portfolio_big_1.jpg" data-lightbox="image">
              <img src="assets/images/img/portfolio_1.jpg" alt="image 1">
            </a>
          </div>
        </div>
        <div class="item second-item">
          <div class="col-md-4 image">
            <a href="assets/images/img/portfolio_big_2.jpg" data-lightbox="image">
              <img src="assets/images/img/portfolio_2.jpg" alt="image 2">
            </a>
          </div>
        </div>
        <div class="item">
          <div class="col-md-4 image">
            <a href="assets/images/img/portfolio_big_3.jpg" data-lightbox="image">
              <img src="assets/images/img/portfolio_3.jpg" alt="image 3">
            </a>
          </div>
        </div>
        <div class="item">
          <div class="col-md-4 image">
            <a href="assets/images/img/portfolio_big_4.jpg" data-lightbox="image">
              <img src="assets/images/img/portfolio_4.jpg" alt="image 4">
            </a>
          </div>
        </div>
        <div class="item">
          <div class="col-md-8 image">
            <a href="assets/images/img/portfolio_big_5.jpg" data-lightbox="image">
              <img src="assets/images/img/portfolio_5.jpg" alt="image 5">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>