<div class="slider">

  <!-- Home section -->
  <div class="Modern-Slider content-section" id="accueil">
    <!-- Item -->
    <div class="item item-1">
      <div class="img-fill">
        <div class="image"></div>
        <div class="info">
          <div>
            <h1>Aliou SOW</h1>
            <p>Développeur web/mobile</p>
            <div class="white-button button">
              <a href="#a-propos">A Propos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // Item -->
    <!-- Item -->
    <div class="item item-2">
      <div class="img-fill">
        <div class="image"></div>
        <div class="info">
          <div>
            <h1>Aliou SOW</h1>
            <p>Développeur web/mobile</p>
            <div class="white-button button">
              <a href="#a-propos">A Propos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // Item -->
    <!-- Item -->
    <div class="item item-3">
      <div class="img-fill">
        <div class="image"></div>
        <div class="info">
          <div>
            <h1>Aliou SOW</h1>
            <p>Développeur web/mobile</p>
            <div class="white-button button">
              <a href="#a-propos">A Propos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // Item -->

  </div>
</div>