<div *ngFor="let project of projects | async" class="container">

  <h1>{{ project.title  }}</h1>
  <p>{{ project.duration }}</p>
  <p>{{ project.description  }}</p>
  <p>{{ project.images }}</p>
  <!-- <p>{{ project.images }}</p> -->
  <!-- <img src="{{ getImage(project.images) }}" alt="Aquila Image"> -->
  
</div>

<section id="projects" class="content-section">
  <div class="section-heading">
    <h1>Réalisations<br><em>Projets</em></h1>
    <p>Réalisations, projets personnels et professionnel
      <br>sur lesquels j'ai travaillé.</p>
  </div>
  <div class="section-content">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_1.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Lorem ipsum dolor</h4>
          <span>Proin et sapien</span>
          <p>#1 You are allowed to use Sentra Template for your business or client websites. You can use it for
            commercial or non-commercial or educational purposes.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_1.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Lorem ipsum dolor</h4>
          <span>Proin et sapien</span>
          <p>#1 You are allowed to use Sentra Template for your business or client websites. You can use it for
            commercial or non-commercial or educational purposes.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_1.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Lorem ipsum dolor</h4>
          <span>Proin et sapien</span>
          <p>#1 You are allowed to use Sentra Template for your business or client websites. You can use it for
            commercial or non-commercial or educational purposes.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_1.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Lorem ipsum dolor</h4>
          <span>Proin et sapien</span>
          <p>#1 You are allowed to use Sentra Template for your business or client websites. You can use it for
            commercial or non-commercial or educational purposes.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_2.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Phasellus a lacus ac odio</h4>
          <span>Maximus</span>
          <p>#2 You are NOT allowed to re-distribute this on any template website. However, you can put a screenshot of
            the template and a link back to original template page. Thank you.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_3.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Proin sit amet fringilla</h4>
          <span>Vulputate</span>
          <p>#3 Aliquam mollis lacus eget metus efficitur lobortis. Suspendisse libero lacus, accumsan vitae commodo
            tristique, luctus gravida metus.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_2.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>In volutpat augue lectus</h4>
          <span>Elementum</span>
          <p>#4 Aliquam mollis lacus eget metus efficitur lobortis. Suspendisse libero lacus, accumsan vitae commodo
            tristique, luctus gravida metus.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_1.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Cras commodo odio</h4>
          <span>Aliquam</span>
          <p>#5 Mauris lacinia pretium libero, ut tincidunt lacus molestie ornare. Phasellus a facilisis erat. Praesent
            eleifend nibh mauris, quis sodales lorem convallis pulvinar.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_3.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Sed at massa turpis</h4>
          <span>Curabitur</span>
          <p>#6 Vestibulum tincidunt ornare ligula vel molestie. Curabitur hendrerit mauris mollis ipsum vulputate
            rutrum. Phasellus luctus odio eget dui imperdiet.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_2.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Aliquam mollis lacus</h4>
          <span>Suspendisse</span>
          <p>#7 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam,
            nec hendrerit purus pharetra in.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_1.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Mauris lacinia pretium</h4>
          <span>Vestibulum</span>
          <p>#8 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam,
            nec hendrerit purus pharetra in.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/img/featured_3.jpg" alt="">
          <div class="featured-button button">
            <a href="#projects">Description</a>
          </div>
        </div>
        <div class="text-content">
          <h4>Proin sit amet fringilla erat</h4>
          <span>Convallis</span>
          <p>#9 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam,
            nec hendrerit purus pharetra in.</p>
        </div>
      </div>
    </div>
  </div>
</section>