<header class="nav-down responsive-nav hidden-lg hidden-md">
    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!--/.navbar-header-->
    <div id="main-nav" class="collapse navbar-collapse">
        <nav>
            <ul class="nav navbar-nav">
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#a-propos">A Propos</a></li>
                <li><a href="#projects">Réalisations</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#gallery">Gallerie</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<app-sidebar></app-sidebar>

<app-home></app-home>

<div class="page-content">

    <!-- About section -->
    <app-about></app-about>

    <!-- projects section -->
    <app-projects></app-projects>
    

    <!-- blog section -->
    <app-blog></app-blog>
    

    <!-- gallery section -->
    <app-gallery></app-gallery>

    <!-- contact section-->
    <app-contact></app-contact>


    <section class="footer">
        <p>Also | 2019. Tous droits réservés</p>
    </section>

</div>

<router-outlet></router-outlet>
