<header class="nav-down responsive-nav hidden-lg hidden-md">
    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!--/.navbar-header-->
    <div id="main-nav" class="collapse navbar-collapse">
        <nav>
            <ul class="nav navbar-nav">
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#a-propos">A Propos</a></li>
                <li><a href="#projects">Réalisations</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#gallery">Gallerie</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="sidebar-navigation hidde-sm hidden-xs">
    <div class="logo">
        <a href="/">ALSO</a>
        
    </div>
    <nav>
        <ul>
            <li>
                <a href="#accueil">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Accueil
                </a>
            </li>
            <li>
                <a href="#a-propos">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    A Propos
                </a>
            </li>
            <li>
                <a href="#projects">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Réalisations
                </a>
            </li>     
            <li>
                <a href="#blog">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Blog
                </a>
            </li>
            <li>
                <a href="#gallery">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Gallerie
                </a>
            </li>
            <li>
                <a href="#contact">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Contact
                </a>
            </li>
        </ul>
    </nav>
    <ul class="social-icons">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
    </ul>
</div>

<div class="slider">

    <!-- Home section -->
    <div class="Modern-Slider content-section" id="accueil">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
            <div class="image"></div>
            <div class="info">
                <div>
                  <h1>Aliou SOW</h1>
                  <p>Développeur web/mobile</p>
                  <div class="white-button button">
                      <a href="#a-propos">A Propos</a>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
            <div class="image"></div>
            <div class="info">
                <div>
                  <h1>Aliou SOW</h1>
                  <p>Développeur web/mobile</p>
                  <div class="white-button button">
                      <a href="#a-propos">A Propos</a>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
            <div class="image"></div>
            <div class="info">
                <div>
                  <h1>Aliou SOW</h1>
                  <p>Développeur web/mobile</p>
                  <div class="white-button button">
                      <a href="#a-propos">A Propos</a>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        
    </div>
</div>


<div class="page-content">

  <!-- About section -->
  <section id="a-propos" class="content-section">
      <div class="section-heading">
          <h1>A Propos de <br><em>ALSO</em></h1>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="section-heading">
                  <img src="../assets/images/Also.png" alt="Also" width="250" height="250">
                  <h1>Qui est suis-je ?</h1>
                  <p>Je m'appelle Aliou SOW. Je suis développeur web et mobile. Actuellement, je suis stagiaire chez Access Code School à Dakar. J'ai eu un BTS en Informatique Industrielle et Réseaux en 2016 au centre de formation professionnelle et technique Sénégal/Japon. Aprés cette formation, j'ai continué à me former tout seul à la programmation informatique. Depuis juillet 2018, je suis chez Access Code School où je suis une formation trés spécial. Au cours de cette formation, j'ai appris à travailler en équipe.</p>
              </div>
              <div class="text-content">
                  <p></p>
                  <br>
              </div>
              <div class="container">
                    <div class="col-md-12 col-sm-8 col-xs-12">
                  
                      <div class="well-none">
                        <div id="myCarousel" class="carousel slide">
                  
                          <!-- Carousel items -->
                          <div class="carousel-inner">
                            <div class="item active">
                              <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/html.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/css.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/js.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/php.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                              </div>
                              <!--/row-->
                            </div>
                            <!--/item-->
                            <div class="item">
                              <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/java.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/angular.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/ionic.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/node.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                              </div>
                              <!--/row-->
                            </div>
                            <!--/item-->
                            <div class="item">
                              <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/symfony.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/laravel.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/wordpress.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                                <div class="col-sm-3 col-xs-3">
                                  <img src="../assets/images/bootstrap.png" alt="Image" class="thumbnail img-responsive">
                                </div>
                              </div>
                              <!--/row-->
                            </div>
                            <!--/item-->
                          </div>
                          <!--/carousel-inner-->
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-4"></i></a>
                  
                          <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-4"></i></a>
                        </div>
                        <!--/myCarousel-->
                      </div>
                      <!--/well-->
                    </div>
                  </div>
              <!--
              <div class="accent-button button">
                  <a href="#blog">Lire ...</a>
              </div>
              -->
          </div>
          <!--
          <div class="col-md-12">
              <div class="box-video">
                  <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
                      <div class="bt-play">Play</div>
                  </div>
                  <div class="video-container">
                      <iframe width="100%" height="520" src="https://www.youtube.com/embed/j-_7Ub-Zkow?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                  </div>
              </div>
          </div>
          -->
      </div>
  </section>

  <!-- projects section -->

  <section id="projects" class="content-section">
      <div class="section-heading">
          <h1>Réalisations<br><em>Projets</em></h1>
          <p>Réalisations, projets personnels et professionnel 
          <br>sur lesquels j'ai travaillé.</p>
      </div>
      <div class="section-content">
          <div class="owl-carousel owl-theme">
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_1.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Lorem ipsum dolor</h4>
                      <span>Proin et sapien</span>
                      <p>#1 You are allowed to use Sentra Template for your business or client websites. You can use it for commercial or non-commercial or educational purposes.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_1.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Lorem ipsum dolor</h4>
                      <span>Proin et sapien</span>
                      <p>#1 You are allowed to use Sentra Template for your business or client websites. You can use it for commercial or non-commercial or educational purposes.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_1.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Lorem ipsum dolor</h4>
                      <span>Proin et sapien</span>
                      <p>#1 You are allowed to use Sentra Template for your business or client websites. You can use it for commercial or non-commercial or educational purposes.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_1.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Lorem ipsum dolor</h4>
                      <span>Proin et sapien</span>
                      <p>#1 You are allowed to use Sentra Template for your business or client websites. You can use it for commercial or non-commercial or educational purposes.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_2.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Phasellus a lacus ac odio</h4>
                      <span>Maximus</span>
                      <p>#2 You are NOT allowed to re-distribute this on any template website. However, you can put a screenshot of the template and a link back to original template page. Thank you.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_3.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Proin sit amet fringilla</h4>
                      <span>Vulputate</span>
                      <p>#3 Aliquam mollis lacus eget metus efficitur lobortis. Suspendisse libero lacus, accumsan vitae commodo tristique, luctus gravida metus.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_2.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>In volutpat augue lectus</h4>
                      <span>Elementum</span>
                      <p>#4 Aliquam mollis lacus eget metus efficitur lobortis. Suspendisse libero lacus, accumsan vitae commodo tristique, luctus gravida metus.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_1.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Cras commodo odio</h4>
                      <span>Aliquam</span>
                      <p>#5 Mauris lacinia pretium libero, ut tincidunt lacus molestie ornare. Phasellus a facilisis erat. Praesent eleifend nibh mauris, quis sodales lorem convallis pulvinar.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_3.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Sed at massa turpis</h4>
                      <span>Curabitur</span>
                      <p>#6 Vestibulum tincidunt ornare ligula vel molestie. Curabitur hendrerit mauris mollis ipsum vulputate rutrum. Phasellus luctus odio eget dui imperdiet.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_2.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Aliquam mollis lacus</h4>
                      <span>Suspendisse</span>
                      <p>#7 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_1.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Mauris lacinia pretium</h4>
                      <span>Vestibulum</span>
                      <p>#8 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="assets/images/img/featured_3.jpg" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Description</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Proin sit amet fringilla erat</h4>
                      <span>Convallis</span>
                      <p>#9 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- blog section -->
  <section id="blog" class="content-section">
      <div class="section-heading">
          <h1>Blog<br><em>also</em></h1>
          <p>Ateliers, veille technologique, truc et astuce. 
          <br>Le monde de la programmation informatique dans tous ses états.</p>
      </div>
      <div class="section-content">
          <div class="tabs-content">
              <div class="wrapper">
                  <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                    <li><a href="#tab1" class="active">Blog</a></li>
                    <li><a href="#tab2">Ateliers</a></li>
                    <li><a href="#tab3">Veille</a></li>
                    <li><a href="#tab4">Truc | Astuce</a></li>
                  </ul>
                  <section id="first-tab-group" class="tabgroup">
                      <div id="tab1">
                          <ul>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_1.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Integer ultrices augue</h4>
                                          <span>25 July 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_2.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Cras commodo odio ut</h4>
                                          <span>16 July 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_3.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Sed at massa turpis</h4>
                                          <span>10 July 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div id="tab2">
                          <ul>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_3.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Sed at massa turpis</h4>
                                          <span>30 June 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_1.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Lorem ipsum dolor sit</h4>
                                          <span>24 June 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_2.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Cras commodo odio ut</h4>
                                          <span>12 June 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div id="tab3">
                          <ul>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_2.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Cras commodo odio ut</h4>
                                          <span>26 May 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_1.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Lorem ipsum dolor sit</h4>
                                          <span>22 May 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_3.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Integer ultrices augue</h4>
                                          <span>8 May 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div id="tab4">
                          <ul>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_1.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Lorem ipsum dolor sit</h4>
                                          <span>26 April 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>                                
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_3.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Integer ultrices augue eu</h4>
                                          <span>24 April 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item">
                                      <img src="assets/images/img/blog_2.jpg" alt="">
                                      <div class="text-content">
                                          <h4>Cras commodo odio ut</h4>
                                          <span>20 April 2018</span>
                                          <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                          
                                          <div class="accent-button button">
                                              <a href="#contact">Lire ...</a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </section> 
              </div>
          </div>
      </div>
  </section>
 

  <!-- gallery section -->
  <section id="gallery" class="content-section">
      <div class="section-heading">
          <h1>Gallerie<br><em>Code</em></h1>
          <p>Coder c'est pas seulement un métier, 
          <br>mais c'est une passion.</p>
      </div>
      <div class="section-content">
          <div class="masonry">
              <div class="row">
                  <div class="item">
                      <div class="col-md-8">
                          <a href="assets/images/img/portfolio_big_1.jpg" data-lightbox="image"><img src="assets/images/img/portfolio_1.jpg" alt="image 1"></a>
                      </div>
                  </div>
                  <div class="item second-item">
                      <div class="col-md-4">
                          <a href="assets/images/img/portfolio_big_2.jpg" data-lightbox="image"><img src="assets/images/img/portfolio_2.jpg" alt="image 2"></a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="col-md-4">
                          <a href="assets/images/img/portfolio_big_3.jpg" data-lightbox="image"><img src="assets/images/img/portfolio_3.jpg" alt="image 3"></a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="col-md-4">
                          <a href="assets/images/img/portfolio_big_4.jpg" data-lightbox="image"><img src="assets/images/img/portfolio_4.jpg" alt="image 4"></a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="col-md-8">
                          <a href="assets/images/img/portfolio_big_5.jpg" data-lightbox="image"><img src="assets/images/img/portfolio_5.jpg" alt="image 5"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>            
  </section>  
  <section id="contact" class="content-section">
        <div id="map">
          <!--
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123489.55067682186!2d-17.472695005051538!3d14.709851701008448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172f5b3c5bb71%3A0xb17c17d92d5db21f!2sDakar!5e0!3m2!1sfr!2ssn!4v1545824203879" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          -->
        </div>
        <div id="contact-content">
            <div class="section-heading">
                <h1>Contact<br><em>ALSO</em></h1>
                <p>Vous pouvez m'envoyer un message via ce formulaire et je vous répondrai. 
                <br>Vous pouvez aussi me suivre sur les réseaux sociaux.</p>
                
            </div>
            <div class="section-content">
                <form id="contact" action="#" method="post">
                    <div class="row">
                        <div class="col-md-6">
                          <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Votre nom..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Votre adresse email..." required="">
                          </fieldset>
                        </div>

                        <div class="col-md-12">
                          <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Votre message..." required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="btn">Envoyer</button>
                          </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="footer">
        <p>Also | 2019. Tous droit réservés</p>
    </section>
</div>










<router-outlet></router-outlet>