<!-- <div *ngFor="let project of projects | async" class="container">

  <h1>{{ project.title  }}</h1>
  <p>{{ project.duration }}</p>
  <p>{{ project.description  }}</p>
  <p>{{ project.image }}</p>
  <img src="{{ getImage(project.image) }}" alt="Aquila Image">
  
</div> -->



<section id="blog" class="content-section">
  <div class="section-heading">
    <h1>Blog<br><em>also</em></h1>
    <p>Ateliers, veille technologique, truc et astuce.
      <br>Le monde de la programmation informatique dans tous ses états.</p>
  </div>
  <div class="section-content">
    <div class="tabs-content">
      <div class="wrapper">
        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
          <li><a href="#tab1" class="active">Blog</a></li>
          <li><a href="#tab2">Ateliers</a></li>
          <li><a href="#tab3">Veille</a></li>
          <li><a href="#tab4">Truc | Astuce</a></li>
        </ul>
        <section id="first-tab-group" class="tabgroup">
          <div id="tab1">
            <ul>

              <li *ngFor="let article of articles | async">
                <div class="item">
                  <img src="{{ getImage(article.image) }}" alt="">
                  <div class="text-content">
                    <a href="#blog">
                      <h4>{{ article.title }}</h4>
                    </a>
                    <span>{{ article.publicationDate | date: "dd MMM y" }}</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>
                    <!-- <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div> -->
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <div id="tab2">
            <ul>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_3.jpg" alt="">
                  <div class="text-content">
                    <h4>Sed at massa turpis</h4>
                    <span>30 June 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_1.jpg" alt="">
                  <div class="text-content">
                    <h4>Lorem ipsum dolor sit</h4>
                    <span>24 June 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_2.jpg" alt="">
                  <div class="text-content">
                    <h4>Cras commodo odio ut</h4>
                    <span>12 June 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="tab3">
            <ul>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_2.jpg" alt="">
                  <div class="text-content">
                    <h4>Cras commodo odio ut</h4>
                    <span>26 May 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_1.jpg" alt="">
                  <div class="text-content">
                    <h4>Lorem ipsum dolor sit</h4>
                    <span>22 May 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_3.jpg" alt="">
                  <div class="text-content">
                    <h4>Integer ultrices augue</h4>
                    <span>8 May 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="tab4">
            <ul>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_1.jpg" alt="">
                  <div class="text-content">
                    <h4>Lorem ipsum dolor sit</h4>
                    <span>26 April 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_3.jpg" alt="">
                  <div class="text-content">
                    <h4>Integer ultrices augue eu</h4>
                    <span>24 April 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="assets/images/img/blog_2.jpg" alt="">
                  <div class="text-content">
                    <h4>Cras commodo odio ut</h4>
                    <span>20 April 2018</span>
                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu
                      dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis
                      lorem quis ipsum maximus finibus.</p>

                    <div class="accent-button button">
                      <a href="#contact">Lire ...</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>